body {
    /* background: linear-gradient(to bottom, #F0F8FF, #8ef0f0); */
    /* background: radial-gradient(circle, #48CAE4, #90E0EF, #ADE8F4, #CAF0F8); */
    /* background: radial-gradient(circle, #212529, #343a40); */
    /* background: linear-gradient(to right, #212529, #343a40); */
    /* background-color: #284b63; */
    /* background-color: #212529; */
    background-color: #e9ecef;

    background-repeat: no-repeat;
    font-family: 'Roboto';
}

main {
    /* background-color: #f5f5f5; */
    background-color: white;
}

h1 {
    color: #0077B6;
}

p {
    margin: 0;
    padding: 0;
}

.form-step {
    display: none;
    /* transform-origin: top;
    animation: animate .5s; */
}

.form-step-active {
    display: block;
}

.learner-form-step {
    display: none;
}

.learner-form-step-active {
    display: block;
}

/* @keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
} */
